<section class="section-main">
    <h1>Такой пользователь уже существует!</h1>
    <a href="socks"><img src="img/exists.jpg" alt="sleeping red panda" class="article-image article-image-succ"></a>
</section>