<section class="section-main">
    <h2 class="section-title">Плейлисты</h2>
    <p class="section-title-p">Открыть для себя мир удивительной музыки можно пройдя по ссылкам на неповторимый <wbr>
        <img src="img/icons/tg.png" alt="telegram" class="icon"> <a href="https://t.me/theoutsider13" target="_blank"
            rel="noopener noreferrer">телеграм-канал</a>, а также <img src="img/icons/ytube.png" alt="youtube"
            class="icon"> <a href=https://www.youtube.com/playlist?list=PLS5D3MQkKIdCeC-BxT76ps5-gKCqJQXHF
            target="_blank" rel="noopener noreferrer">Youtube</a> или <img src="img/icons/amusic.png" alt="applemusic"
            class="icon"> <a href="https://music.apple.com/ru/playlist/the-outsider/pl.u-aZb0NoxF1NV4KjY?l=en" target="_blank" rel="noopener noreferrer">Apple
            Music</a> <abbr title="ну чтобы не читать мою писанину, а сразу окунуться в океан звуков">плейлисты</abbr>.
    </p>
</section>

<section class="section-main"><img src="img/red-panda2.jpg" alt="this is also a cat" class="article-image">
</section>