<section class="section-main">
    <h2 class="section-title">Бесплатное прокси для доступа во всемирную паутину 🌐</h2>
    <p class="section-title-p">Иногда всякие плохие дяди любят дергать рубильниками, дабы изобразить бурную
        деятельность, тем самым ломая жизненноважные сервисы. Одним из самых простых и доступных способов забыть о
        криворукости дядь -- это использовать прокси, например SOCKS5. По вопросам пишите на <a href="mailto:skoch13@protonmail.com?subject=socks5feedback">почту 📧</a>.</p>
</section>

<section class="section-main">
    <div class="submit-form">
        <h2 class="section-title">Заполните форму</h2>
        <form method="POST" action="socks">
            <fieldset class="fld-form">
                <legend>Login Details</legend>
                <label for="login">Login:</label><input name="name" type="text" value="" id="login" class="submit-input"
                    size="25" maxlength="25" placeholder="John Doe" required pattern="[A-Za-z]{3,25}" title="Имя пользователя должно содержать только буквы и цыфры, от 6 до 25 символов"> <span class="submit-check"></span><br /><label
                    for="email">Email:</label><input name="email" type="email" placeholder="example@website.com"
                    id="email" class="submit-input" size="25" maxlength="25"> <br /> <button type="submit"
                    value="Submit" class="btn-submit" disabled>Отправить</button>
            </fieldset>
        </form>
    </div>
</section>
<script src="scripts/checker.js"></script>