<section class="section-main">
    <h1>Нажми панде на нос <span class="regName"><%- data.name %></span>!</h1>
    <h2 class="section-title"><a href=<%- data.socks5 %>><img src="img/successPanda.jpg" alt="smiling" class="article-image article-image-succ"></a></h2>
    

</section>