<section class="section-main">
    <h1>Нажми на панду <span class="regName"><%= data.name %></span>!</h1>
    <h2 class="section-title"> <a href="<%= data.socks5 %>"><img src="img/successPanda.jpg" alt="smiling red panda" class="article-image article-image-succ"></a>
</section>