<header>
  <div class="container container-flex">
    <div class="site-title">
      <h1>Добро пожаловать в интернет</h1>
    </div>
    <nav>
      <ul class="nav-list">
        <li class="nav-list-item" id="/"><a href="/">🏠 Home</a></li>
        <li class="nav-list-item" id="/playlists"><a href="playlists">📻 Playlists</a></li>
        <li class="nav-list-item" id="/socks"><a href="socks">🧦 SOCKS5</a></li>
      </ul>
    </nav>

  </div>
</header>